body {
  //background-color: #e0e0d5;
  background-color: white;
}

#navbar {
  margin-top: 0px;
  font-weight: bold;
  margin-bottom: 1%;
}

body > header {
  max-width: 100% !important;
  border-radius: 0px;
}

body > div.container,
body > div.main-container > div.row,
body > div.main-container > div.row > section {
  max-width: 100% !important;
  width: 100% !important;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0px;
}

header > div.container {
  max-width: 100% !important;
}

header.container {
  width: 100%;
}

h1.page-header {
  display: none;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 10px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.itcc-services, .itcc-contact-us {
  list-style: none;
}

.navbar-inverse {
  background-color: darkblue;
  border-color: darkblue;
}

.navbar {
  border-radius: 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #308811;
}

footer {
  display: none;
}

.itcc-services-column {
  padding-top: 10px;
  background-color: #308811;
  color: white;
}

.itcc-services-column a {
  color: white;
  text-decoration: none;
}

.itcc-contact-us-column {
  padding-top: 10px;
  background-color: #965e5e;
  color: white;
}

.jumbotron {
  margin-bottom: 0px;
  border-radius: 0px;
}

.itcc-body {
  padding-left: 1%;
  padding-right: 1%;
  background-color: white;
  padding-bottom: 1%;
  font-size: 14px;
  line-height: 24px;
  min-height: 600px;
}

.itcc-carousel {
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
}

#site-name {
  font-size: large;
  margin-top: 1%;
}

#site-logo {
  zoom: 50%;
}

#site-slogan {

}

.itcc-services-menu {
  background-color: blue;
}

.itcc-breadcrumb {
  background-color: green;

}